{% extends "layout.html" %}
{% block css %}<!--引入ue editer-->

{% endblock %}
<script type="text/javascript" charset="UTF-8" src="{{url_for('static',filename='ue/ueditor.config.js')}}"></script>
<script type="text/javascript" charset="UTF-8" src="{{url_for('static',filename='ue/ueditor.all.min.js')}}"></script>
<script type="text/javascript" charset="UTF-8" src="{{url_for('static',filename='ue/lang/zh-cn/zh-ch.js')}}"></script>

{% block content %}
<form>
    <div class="form-group">
        <label>标题</label>
        {{form.title}}
    </div>
    <div class="form-group">
        <label>分类</label>
        {{ form.cate }}
    </div>
    <div class="form-group">
        <label>封面</label>
        {{form.logo}}
        <img data-src="holder.js/300x120" style="margin-top: 6px;">
        <br>
        <a class="btn btn-primary" style="margin-top: 6px;">上传封面</a>
    </div>
    <label>内容</label>
    <div class="form-group">

        {{ form.content }}

    </div>
    {{form.submit}}

</form>
{% endblock%}

{% block js%}
<script >

    $(document).ready(function () {
        $("#m1").addClass("active");

    });
</script>
{% endblock%}

<!--这里引入ueEditor有问题-->