{% extends "layout.html" %}

{% block css %}
<style>
    .table td, .table th {
        padding: .75rem;
        vertical-align: middle;
        border-top: 1px solid #e9ecef;
    }
</style>
{% endblock%}

{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>标题</th>
        <th>分类</th>
        <th>封面</th>
        <th>作者</th>
        <th>发布时间</th>
        <th>管理操作</th>
    </tr>
    </thead>
    {% for v in range(1,11) %}
    <tr>
        <td>火星发现淡水</td>
        <td>科技</td>
        <td>
            <img data-src="holder.js/75x40">
        </td>
        <td>imook</td>
        <td>2020-01-01 12:00:00</td>
        <td>
            <button class="btn btn-sm btn-outline-warning">编辑</button>
            <button class="btn btn-sm btn-outline-danger">删除</button>

        </td>
    </tr>
    {% endfor %}
</table>
<nav><!--分页 -->
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">上一页</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">下一页</a></li>

    </ul>
</nav>

{% endblock%}


{% block js%}
<!--激活状态显示active-->
<script>
    $(document).ready(function () {
        $("#m2").addClass("active")

    })
</script>
{% endblock%}