<!--后台布局文件-->
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <title>文章管理系统</title>
    {% block css %}{% endblock%}
</head>

<body>
<nav class="navbar navbar-light" style="background-color: #e0a800;">
    <div class="container">
        <a class="navbar-brand">文章管理系统</a>
        <a class="btn btn-outline-danger" href="/logout/">{{session["user"]}}->退出</a>
    </div>

</nav>
<div class="container" style="margin-top: 6px;"></div>
    <div class="row">
        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
        <div class="col-md-12">
           <p style="color: green">{{msg}}</p>
        </div>

        {% endfor %}

        <div class="col-md-3">
            {% include "menus.html" %}

        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">{{title}}</div>
                <div class="card-body">


                   {% block content%}{% endblock %}




                </div>

            </div>
        </div>
    </div>

<script src="{{ url_for('static',filename='js/jquery.slim.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/popper.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>

{% block js %}{% endblock%}
</body>

</html>