{% extends "user.html" %}

{% block content %}

<form method="post">

    <div class="form-group">
        <label>账号</label>
        {{ form.name }}
        {% for v in form.name.errors %}
        <p style="color: red;font-weight: bold">{{ v }}</p>
        {% endfor %}
    </div>
    <div class="from-group">
        <label>密码</label>
        {{form.pwd}}
        {% for v in form.pwd.errors %}
        <p style="color: red;font-weight: bold">{{ v }}</p>
        {% endfor %}
    </div>
    <a href="/register/">没有账号？前往注册</a>
    <br>
    {{form.submit}}
    {{ form.csrf_token }}
</form>

{% endblock %}
