{% extends "user.html" %}
{% block content %}

<form method="post">
    {% for msg in get_flashed_messages(category_filter=['err']) %}
    <p style="color: red">msg</p>
    {% endfor %}
    <div class="form-group">
        <label>账号</label>
        {{form.name}}
        {% for v in form.name.errors  %} <!-- for循环获取错误信息 -->
        <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>密码</label>
        {{form.pwd}}
        {% for v in form.pwd.errors  %} <!-- for循环获取错误信息 -->
        <p style="color: red">{{ v }}</p>
        {% endfor %}

    </div>
    <div class="form-group">
        <label>确认密码</label>
        {{form.repwd}}
        {% for v in form.repwd.errors  %} <!-- for循环获取错误信息 -->
        <p style="color: red">{{ v }}</p>
        {% endfor %}

    </div>

    <div class="form-group">
        <label>验证码</label>
        {{form.code}}
        <!--<img data-src="holder.js/180x50" style="margin-top: 6px;"> -->
        <img alt="点击切换" title="点击切换" src="/codes/" onclick="this.src='/codes/?'+Math.random()" style="width: 100px;height: 50px;margin-top: 6px;">
        {% for v in form.code.errors  %} <!-- for循环获取错误信息 -->
        <p style="color: red">{{ v }}</p>
        {% endfor %}
    </div>
    <a href="/login/">已有账号！前往登录</a><br>
    {{form.submit}}
    {{form.csrf_token }}


</form>

{% endblock %}

{% block js%}
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.js"></script>

{% endblock %}