<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <title>{{title}}</title>

</head>
<body>
<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">文章管理系统</h3>
        </div>

    </div>
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                {{title}}
            </div>
            <div class="card-body">

                {% block content %}{% endblock %}


            </div>
        </div>

    </div>


</div>
<script src="{{ url_for('static',filename='js/jquery.slim.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

{% block js %}{% endblock %}



</body>
</html>